<?xml version="1.0" encoding="UTF-8"?>

<!--
If you put a logback.xml in the root of your classpath it will be picked up from there (or logback-spring.xml to take advantage of the templating features provided by Boot).
Spring Boot provides a default base configuration that you can include if you just want to set levels, e.g.
-->

<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="com.alibaba.nacos" level="ERROR"/>
</configuration>