<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.goods.dao.mapper.GoodsMapper">

    <update id="decreaseStock">
        update t_goods
        set quantity = quantity - ${count}
        where id=#{id}
    </update>

    <delete id="removeById">
        delete from t_goods where NAME='MacBookPro'
    </delete>

</mapper>

