<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.order.dao.mapper.OrderMapper">

    <update id="saveOrder">
        INSERT INTO t_order (id,create_time,total_cost,state,user_id)
        values (#{id},#{createTime},#{totalCost},#{state},#{userId})
    </update>

</mapper>

